.clear {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}
.icon {
  font-size: 1.2rem;
}

.icon__text {
  vertical-align: middle;
  font-weight: 600;
  font-size: 0.8rem;
}

.group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: beige;
}

.group > * {
  margin-right: 0.7rem;
}
