.inner_space {
  padding: 1rem 0;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.group {
  display: flex;
  justify-content: space-between;
}

.gap {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .min_height {
    min-height: 60vh;
  }

  .border-y {
    border-right: 1px solid #ccc;
    min-height: 60vh;
  }
}
