.primary__button {
	display: flex;
	align-items: center;
	color: rgb(39, 102, 204);
	border: 1px solid rgb(39, 102, 204);
	background-color: #fff;
	height: fit-content;
}

.secondary__button {
	display: flex;
	align-items: center;
	color: #2966cc;
	border: 1px solid #f8de4b;
	background-color: #f8de4b;
	height: fit-content;
}

a{
    text-decoration: none;
    color: #3e4854;
}

.horizontal-gutter > *{
	margin-right: 1rem;
}